[user]
    name = MarcosCela
    email = marcos.cela@datadoghq.com
    signingkey = CABC34732C298CF3
[commit]
    gpgsign = true
[gpg]
    format = ssh


# This is a url rewrite that helps [go and maybe rust] tooling that downloads libraries
# from our private repos
[url "git@github.com:DataDog/"]
    insteadOf = https://github.com/DataDog/
